
#viewerContainer {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page {
    box-sizing: content-box;
    margin: 0 auto;
    box-sizing: content-box;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0px 2px 3px 1px rgb(6 6 6 / 40%);
}
.active {
    border: 1px solid #f1c343;
}

.toolBus {
    height: 3rem;
    background-color: antiquewhite;
    line-height: 30px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    z-index: 1;
}

.toolBus .pagination {
    width: 400px;
    float: left;
    margin: auto;
}

input {
    width: 100px;
    margin: 0 10px;
}

.selection {
    width: 300px;
    float: left;
}

.otherViewer {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin: auto;
}

.otherViewer .page {
    direction: ltr;
    width: 816px;
    height: 1056px;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
}