* {
  margin: 0;
  padding: 0;
}
.button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: #F9CB2A;
  color: #fff;
  transition: opacity 1s;
}
.button:active {
  opacity: 0.6;
}
.signPic {
  position: absolute;
  z-index: 100;
  border: 1px solid red;
  cursor: pointer;
}
.page-load-wrap {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.page-loading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  left: 50%;
}
.canvasWrapper {
  position: relative;
}
.canvasWrapper canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.pdf-title {
  width: 800px;
  margin: 0 auto;
  font-weight: 700;
}
.pcMode {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}
.pcMode .pdf-title {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.pcMode .pdf-wrap {
  position: relative;
  border: 2px solid #ccc;
}
.pcMode .sign-modal {
  position: absolute;
}
.upload-pdf {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.upload-pdf input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}
.upload-pdf img {
  width: 100px;
  height: 100px;
}

/* Copyright 2014 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;
}

.textLayer > span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.textLayer .highlight {
  margin: -1px;
  padding: 1px;
  background-color: rgba(180, 0, 170, 1);
  border-radius: 4px;
}

.textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
  border-radius: 0px;
}

.textLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 1);
}

.textLayer ::-moz-selection {
  background: rgba(0, 0, 255, 1);
}

.textLayer ::selection {
  background: rgba(0, 0, 255, 1);
}

.textLayer .endOfContent {
  display: block;
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.textLayer .endOfContent.active {
  top: 0px;
}


.annotationLayer section {
  position: absolute;
}

.annotationLayer .linkAnnotation > a,
.annotationLayer .buttonWidgetAnnotation.pushButton > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotationLayer .linkAnnotation > a:hover,
.annotationLayer .buttonWidgetAnnotation.pushButton > a:hover {
  opacity: 0.2;
  background: rgba(255, 255, 0, 1);
  box-shadow: 0px 2px 10px rgba(255, 255, 0, 1);
}

.annotationLayer .textAnnotation img {
  position: absolute;
  cursor: pointer;
}

.annotationLayer .textWidgetAnnotation input,
.annotationLayer .textWidgetAnnotation textarea,
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
  background-color: rgba(0, 54, 255, 0.13);
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 9px;
  height: 100%;
  margin: 0;
  padding: 0 3px;
  vertical-align: top;
  width: 100%;
}

.annotationLayer .choiceWidgetAnnotation select option {
  padding: 0;
}

.annotationLayer .buttonWidgetAnnotation.radioButton input {
  border-radius: 50%;
}

.annotationLayer .textWidgetAnnotation textarea {
  font: message-box;
  font-size: 9px;
  resize: none;
}

.annotationLayer .textWidgetAnnotation input[disabled],
.annotationLayer .textWidgetAnnotation textarea[disabled],
.annotationLayer .choiceWidgetAnnotation select[disabled],
.annotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
.annotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
  background: none;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.annotationLayer .textWidgetAnnotation input:hover,
.annotationLayer .textWidgetAnnotation textarea:hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
.annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.annotationLayer .textWidgetAnnotation input:focus,
.annotationLayer .textWidgetAnnotation textarea:focus,
.annotationLayer .choiceWidgetAnnotation select:focus {
  background: none;
  border: 1px solid transparent;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after,
.annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  background-color: rgba(0, 0, 0, 1);
  content: '';
  display: block;
  position: absolute;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  height: 80%;
  left: 45%;
  width: 1px;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
  transform: rotate(45deg);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
  transform: rotate(-45deg);
}

.annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
  border-radius: 50%;
  height: 50%;
  left: 30%;
  top: 20%;
  width: 50%;
}

.annotationLayer .textWidgetAnnotation input.comb {
  font-family: monospace;
  padding-left: 2px;
  padding-right: 0;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
  /*
   * Letter spacing is placed on the right side of each character. Hence, the
   * letter spacing of the last character may be placed outside the visible
   * area, causing horizontal scrolling. We avoid this by extending the width
   * when the element has focus and revert this when it loses focus.
   */
  width: 115%;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
}

.annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}

.annotationLayer .popup {
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: rgba(255, 255, 153, 1);
  box-shadow: 0px 2px 5px rgba(136, 136, 136, 1);
  border-radius: 2px;
  padding: 6px;
  margin-left: 5px;
  cursor: pointer;
  font: message-box;
  font-size: 9px;
  word-wrap: break-word;
}

.annotationLayer .popup > * {
  font-size: 9px;
}

.annotationLayer .popup h1 {
  display: inline-block;
}

.annotationLayer .popup span {
  display: inline-block;
  margin-left: 5px;
}

.annotationLayer .popup p {
  border-top: 1px solid rgba(51, 51, 51, 1);
  margin-top: 2px;
  padding-top: 2px;
}

.annotationLayer .highlightAnnotation,
.annotationLayer .underlineAnnotation,
.annotationLayer .squigglyAnnotation,
.annotationLayer .strikeoutAnnotation,
.annotationLayer .freeTextAnnotation,
.annotationLayer .lineAnnotation svg line,
.annotationLayer .squareAnnotation svg rect,
.annotationLayer .circleAnnotation svg ellipse,
.annotationLayer .polylineAnnotation svg polyline,
.annotationLayer .polygonAnnotation svg polygon,
.annotationLayer .caretAnnotation,
.annotationLayer .inkAnnotation svg polyline,
.annotationLayer .stampAnnotation,
.annotationLayer .fileAttachmentAnnotation {
  cursor: pointer;
}

.pdfViewer .canvasWrapper {
  overflow: hidden;
}

.pdfViewer .page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  margin: 1px auto -8px auto;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  -o-border-image: url(/shadow.0c5fcb72.png) 9 9 repeat;
     border-image: url(/shadow.0c5fcb72.png) 9 9 repeat;
  background-color: rgba(255, 255, 255, 1);
}

.pdfViewer.removePageBorders .page {
  margin: 0px auto 10px auto;
  border: none;
}

.pdfViewer.singlePageView {
  display: inline-block;
}

.pdfViewer.singlePageView .page {
  margin: 0;
  border: none;
}

.pdfViewer.scrollHorizontal, .pdfViewer.scrollWrapped, .spread {
  margin-left: 3.5px;
  margin-right: 3.5px;
  text-align: center;
}

.pdfViewer.scrollHorizontal, .spread {
  white-space: nowrap;
}

.pdfViewer.removePageBorders,
.pdfViewer.scrollHorizontal .spread,
.pdfViewer.scrollWrapped .spread {
  margin-left: 0;
  margin-right: 0;
}

.spread .page,
.pdfViewer.scrollHorizontal .page,
.pdfViewer.scrollWrapped .page,
.pdfViewer.scrollHorizontal .spread,
.pdfViewer.scrollWrapped .spread {
  display: inline-block;
  vertical-align: middle;
}

.spread .page,
.pdfViewer.scrollHorizontal .page,
.pdfViewer.scrollWrapped .page {
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.pdfViewer.removePageBorders .spread .page,
.pdfViewer.removePageBorders.scrollHorizontal .page,
.pdfViewer.removePageBorders.scrollWrapped .page {
  margin-left: 5px;
  margin-right: 5px;
}

.pdfViewer .page canvas {
  margin: 0;
  display: block;
}

.pdfViewer .page canvas[hidden] {
  display: none;
}

.pdfViewer .page .loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('/loading-icon.260c0fae.gif') center no-repeat;
}

.pdfPresentationMode .pdfViewer {
  margin-left: 0;
  margin-right: 0;
}

.pdfPresentationMode .pdfViewer .page,
.pdfPresentationMode .pdfViewer .spread {
  display: block;
}

.pdfPresentationMode .pdfViewer .page,
.pdfPresentationMode .pdfViewer.removePageBorders .page {
  margin-left: auto;
  margin-right: auto;
}

.pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
  margin-bottom: 100% !important;
}

.pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

.pdfPresentationMode:-moz-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

.pdfPresentationMode:fullscreen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}


#viewerContainer {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page {
    box-sizing: content-box;
    margin: 0 auto;
    box-sizing: content-box;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0px 2px 3px 1px rgb(6 6 6 / 40%);
}
.active {
    border: 1px solid #f1c343;
}

.toolBus {
    height: 3rem;
    background-color: antiquewhite;
    line-height: 30px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    z-index: 1;
}

.toolBus .pagination {
    width: 400px;
    float: left;
    margin: auto;
}

input {
    width: 100px;
    margin: 0 10px;
}

.selection {
    width: 300px;
    float: left;
}

.otherViewer {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin: auto;
}

.otherViewer .page {
    direction: ltr;
    width: 816px;
    height: 1056px;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
}
.pdf-tool-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #efdeb2;
  text-align: center;
  z-index: 800;
  overflow: hidden;
}
.pdf-tool-wrap .pdf-tool-title {
  float: left;
  text-indent: 10px;
  line-height: 35px;
  margin-right: 10px;
}
.pdf-tool-wrap .pdf-tool-list {
  float: right;
  list-style: none;
  height: 33px;
  background: #f1d790;
}
.pdf-tool-wrap .tool-item {
  position: relative;
  float: left;
  line-height: 35px;
  margin: 0 10px;
  cursor: pointer;
}
.pdf-tool-wrap .item-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.pdf-tool-wrap .upload input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.pdf-tool-wrap .line {
  display: inline-block;
  height: 39px;
  line-height: 39px;
  width: 1px;
  color: #a58888;
  float: left;
  margin-left: -1px;
}

.canvas-write-wrap-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #fff;
  bottom: 0;
}
.full-svg {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: portrait) {
  .canvas-write-wrap {
    position: relative;
    left: 60px;
  }
  .canvas-write-title {
    position: absolute;
    z-index: 999;
    width: 60px;
    height: 100%;
    top: 0;
    right: 0;
    background: #7f8995;
  }
  .canvas-write-title img {
    width: 50px;
    margin-top: 6px;
    margin-left: 5px;
  }
  .canvas-write-title p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transform: rotate(90deg);
  }
  .canvas-write-title .title-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    left: 50%;
  }
  .canvas-write-tool {
    position: fixed;
    z-index: 999;
    width: 60px;
    height: 100%;
    top: 0;
    left: 0;
    background: #f4fcf5;
    border-right: 0.5px dashed #ccc;
  }
  .canvas-write-tool .canvas-write-tool-span {
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    color: #fff;
  }
  .canvas-write-tool .canvas-write-tool-span input {
    vertical-align: middle;
  }
  .canvas-write-tool .bold-wrap {
    margin-top: 30px;
  }
  .canvas-write-tool .bold-wrap img {
    display: inline-block;
    width: 40px;
    margin: 10px;
    transform: rotate(90deg);
  }
  .canvas-write-tool .button-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    left: 50%;
  }
  .canvas-write-tool .color-wrap {
    position: absolute;
    bottom: 16px;
  }
  .canvas-write-tool .color-wrap .color {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 14px 8px;
    border-radius: 50%;
  }
  .canvas-write-tool .color-wrap .red {
    background-color: red;
  }
  .canvas-write-tool .color-wrap .black {
    background-color: black;
  }
  .canvas-write-tool .color-wrap .blue {
    background-color: blue;
  }
  .canvas-write-tool .button {
    border: 2px solid #f1c343;
    background: #fff;
    color: #ccc;
    transform: rotate(90deg);
    width: 74px;
    margin: 30px 0px;
    padding: 10px;
    height: 51px;
    font-size: 18px;
  }
  .canvas-write-tool .save {
    border: 2px solid #f1c343;
    background: #f1c343;
    color: #fff;
  }
}
@media screen and (orientation: landscape) {
  .canvas-write-title {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: #7f8995;
  }
  .canvas-write-title img {
    width: 50px;
    margin-top: 6px;
    margin-left: 5px;
  }
  .canvas-write-title p {
    float: left;
    margin: 0 2px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .canvas-write-title .title-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    left: 50%;
  }
  .canvas-write-wrap {
    position: relative;
    top: 60px;
  }
  .canvas-write-tool {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background: #f4fcf5;
    border-right: 0.5px dashed #ccc;
  }
  .canvas-write-tool .canvas-write-tool-span {
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    color: #fff;
  }
  .canvas-write-tool .canvas-write-tool-span input {
    vertical-align: middle;
  }
  .canvas-write-tool .bold-wrap {
    float: left;
  }
  .canvas-write-tool .bold-wrap img {
    display: inline-block;
    width: 40px;
    margin: 10px;
  }
  .canvas-write-tool .button-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    left: 50%;
  }
  .canvas-write-tool .color-wrap {
    float: right;
  }
  .canvas-write-tool .color-wrap .color {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }
  .canvas-write-tool .color-wrap .red {
    background-color: red;
  }
  .canvas-write-tool .color-wrap .black {
    background-color: black;
  }
  .canvas-write-tool .color-wrap .blue {
    background-color: blue;
  }
  .canvas-write-tool .button {
    border: 2px solid #f1c343;
    background: #fff;
    color: #ccc;
    width: 74px;
    margin: 30px 0px;
    padding: 10px;
    height: 51px;
    font-size: 18px;
    margin-right: 10px;
  }
  .canvas-write-tool .save {
    border: 2px solid #f1c343;
    background: #f1c343;
    color: #fff;
  }
}
.bold-wrap .bold {
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
}
.bold-wrap .select {
  border-bottom: 2px solid #f1c343;
  padding-bottom: 4px;
}
.color-wrap .color {
  border: 2px solid transparent;
}
.color-wrap .select {
  border: 2px solid #f1c343;
}


/*# sourceMappingURL=/app.02569591.css.map */